.profile7 {
  text-align: center;
}
.profilePage7 {
  text-align: center;
}
.profilepic7 {
  width: 200px;
  margin-top: 3%;
}
.nadin {
  text-align: center;
}
.Name {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  color: black;
  text-align: center;
}
.Email {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  color: black;
  text-align: center;
}
.BD {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  color: black;
  text-align: center;
}
.B {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  color: black;
  text-align: center;
}
.C {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  color: black;
  text-align: center;
}
.T {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  color: black;
  text-align: center;
}
