.image1{
    width: 80px;
    /* margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 20% */
}
/* .image2{
    width: 80px;
}
.BOA3image{
    width: 80px;;
}
.image4{
    width: 80px;;
}
.image5{
    width: 80px;;
}
.image6{
    width:80px;
}
.image7{
    width: 80px;
}
.image8{
    width: 80px;
}
.image9{
    width: 80px;
} */
.boatitle{
    /* margin-left: 20%; */
    
}
.BOAname{
    /* margin-left: 30%; */
    
}